/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    color: white;
    background: black;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}